<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>What if your website could predict the future?</h3>
                <h1>AI-powered web-accelerator to boost your e-commerce</h1>
                <!-- <h5>Reduce loading times and create a better customer experience with a faster site</h5> -->				
            </div>
            <div class="col-md-auto">
                <!-- <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive"> -->
                <iframe src="https://www.youtube.com/embed/CBVyIY9wRgE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div><!-- /row -->


        <div class="row">
            <div class="col">
            </div>

            <div class="col">
                <h4>
                    <a href="mailto:henrik.frienholt@shimmercat.com?Subject=Meeting%20ShimmerCat" target="_top" class="btn btn-theme_yellow">Book a meeting</a>
                    <a href="https://docs.accelerator.shimmercat.com/" target="" class="btn btn-theme_yellow">Learn ShimmerCat</a>
                </h4>
            </div>

            <div class="col">
            </div>

        </div>

    </div> <!-- /container -->
</div><!-- /headerwrap -->

