<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>What if your website could predict the future?</h3>
                <h1>AI-powered web-accelerator to boost your e-commerce</h1>
                <!-- <h5>Reduce loading times and create a better customer experience with a faster site</h5> -->				
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <!-- <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive"> -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/CBVyIY9wRgE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div><!-- /row -->

        <div class="col-md-8">
            <!--<h3 style="color:white;">Want to know how much faster your website can get?</h3>-->
            <h4><a href="mailto:henrik.frienholt@shimmercat.com?Subject=Meeting%20ShimmerCat" target="_top" class="btn btn-theme_yellow">Book a meeting</a></h4>
            <h4><a href="https://docs.accelerator.shimmercat.com/" target="" class="btn btn-theme_yellow">Learn ShimmerCat</a></h4>
        </div>


        <style>
        .buttons { 
          width: 100%;
          table-layout: fixed;
          border-collapse: collapse;
          background-color: red; 
        }
        .buttons button { 
          width: 100%;
        }
        </style>
        <table class=buttons>
         <tr>
            <td><button type="button">A</button>
            <td><button type="button">B</button>
            <td><button type="button">C</button>
            <td><button type="button">D</button>
            <td><button type="button">E</button>
        </table>


    </div> <!-- /container -->
</div><!-- /headerwrap -->

