<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>What if your website could predict the future?</h3>
                <h1>AI-powered web-accelerator to boost your e-commerce</h1>
                <!-- <h5>Reduce loading times and create a better customer experience with a faster site</h5> -->				
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <!-- <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive"> -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/CBVyIY9wRgE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->