<div class="container mtb">
    <div class="row centered">
        <h3 class="mb">OFFICES</h3>
        
        {% for office in site.offices %}
        <div class="col-sm-4 col-sm-4 col-sm-4">
            <div class="he-wrap tpl6">
            <img src="{{ "/assets/img/offices/" | prepend: site.baseurl }}{{ office.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Contact Us:</h3>
                        {% for entry in office.social %}
                            <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-{{ entry.title }}"></i></a>
                        {% endfor %}
                    </div><!-- he bg -->
                </div><!-- he view -->		
            </div><!-- he wrap -->
            <h4>{{ office.name }}</h4>
            <h5 class="ctitle">{{ office.position }}</h5>
            <p>{{ office.text }}</p>
            <div class="hline"></div>
        </div><! --/col-lg-3 -->	 	
        {% endfor %}
        
    </div><! --/row -->
</div><! --/container -->