<div class="col-lg-4">
   <!--  <h4>Search</h4>
    <div class="hline"></div>
        <p>
            <br/>
            <input type="text" class="form-control" placeholder="Search something">
        </p>
    <div class="spacing"></div> -->
    
    <!--<h4>Subscribe</h4>
    <div class="hline"></div>
        <p>
            <p class="rss-subscribe">Subscribe to this blog <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>.</p>
        </p>-->
    <div class="spacing"></div>

    <h4>Plans</h4>
    <div class="hline"></div>
        <ul class="popular-posts">
            {% for plan in site.plans %}
                <p><a href="{{ plan.url | prepend: site.baseurl }}">{{ plan.title }}</a></p>
            {% endfor %}
        </ul>
        
    <div class="spacing"></div>

    <h4>Features</h4>
    <div class="hline"></div>
        <ul class="popular-posts">
                {% for cat in site.category-list %}
                        {% if cat == "display" %}
                            {% for page in site.features %}
                                {% if page.resource == true %}
                                  {% for pc in page.categories %}
                                    {% if pc == cat %}
                                      <p><a class="linkcolors" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></p>
                                    {% endif %}   <!-- cat-match-p -->
                                  {% endfor %}  <!-- page-category -->
                                {% endif %}   <!-- resource-p -->
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
        </ul>

    <div class="spacing"></div>

    <h4>Frequently Asked</h4>
    <div class="hline"></div>
    <p>
        {% for question in site.questions %}
            <p><a href="{{ question.url | prepend: site.baseurl }}">{{ question.title }}</a></p>
        {% endfor %}
    </p>
</div>
