<div class="col-lg-4">
   <!--  <h4>Search</h4>
    <div class="hline"></div>
        <p>
            <br/>
            <input type="text" class="form-control" placeholder="Search something">
        </p>
    <div class="spacing"></div> -->
    
    <!--<h4>Subscribe</h4>
    <div class="hline"></div>
        <p>
            <p class="rss-subscribe">Subscribe to this blog <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>.</p>
        </p>-->
    <div class="spacing"></div>

    <h4>Features</h4>
    <div class="hline"></div>
        <ul class="popular-posts">
            {% for feature in site.features %}
                <p><a href="{{ feature.url | prepend: site.baseurl }}">{{ feature.title }}</a></p>
            {% endfor %}
        </ul>

    <div class="spacing"></div>

    <h4>Frequently Asked</h4>
    <div class="hline"></div>
    <p>
        {% for question in site.questions %}
            <p><a href="{{ question.url | prepend: site.baseurl }}">{{ question.title }}</a></p>
        {% endfor %}
    </p>
</div>
