---
layout: default
wrap_title: 'Features'
---

{% include wrap.html %}

<div class="container mtb">
    <div class="row">

        <div class="col-sm-8">

          <a href="{{ page.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ page.title }}</h3></a>

            {{ content }}

        </div><! --/col-lg-8 -->

        <div class="col-sm-4">

                <div class="spacing"></div>
                
                <h4>About {{page.title }}</h4>
                <div class="hline"></div>
                <p>{{ page.description }}</a></p>
                <p>Website: <a href="{{ page.website}}" target="_blank">{{page.website}}</a></p>


                <div class="spacing"></div>

                <h4>Plans</h4>
                <div class="hline"></div>
                <ul class="popular-posts">
                    {% for plan in site.plans %}
                        <p><a href="{{ plan.url | prepend: site.baseurl }}">{{ plan.title }}</a></p>
                    {% endfor %}
                </ul>

                <div class="spacing"></div>

        </div>



    </div><! --/row -->
</div><! --/container -->


<div class="container mtb">
        <div class="row centered">
            <div class="col-md-4">
            </div>

            <div class="col-md-4">
                <h3 style="color:#f67031;">Want to know how much faster your website can get?</h3>
                <h4><br/><a href="mailto:henrik.frienholt@shimmercat.com?Subject=Meeting%20ShimmerCat%20Accelerator" target="_top" class="btn btn-theme">Book a meeting</a></h4>
            </div>

            <div class="col-md-4">
            </div>

    </div><! --/row -->
</div><! --/container -->