---
layout: default
wrap_title: 'Features'
---

{% include wrap.html %}

<div class="container mtb">
    <div class="row">

        <div class="col-sm-8">

          <a href="{{ page.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ page.title }}</h3></a>

            {{ content }}

        </div><! --/col-lg-8 -->

        <div class="col-sm-4">

                <div class="spacing"></div>
                
                <img class="full-width" src="{{ page.logo | prepend: site.baseurl}}" width="80%" height="auto">

                <div class="spacing"></div>

                {% if page.title != "Documentation"%}
                <p><a href="mailto:henrik.frienholt@shimmercat.com?Subject=ShimmerCat Demo" target="_top" class="btn btn-theme">Book a demo</a></p>
                {% endif %}

                {% if page.title == "Documentation"%}
                <p><a href="https://docs.accelerator.shimmercat.com/" target="_top" class="btn btn-theme">Check Documentation</a></p>
                {% endif %}

                <div class="spacing"></div>
                

                {% if page.title != "Documentation"%}
                <h4>Tutorial {{page.title }}</h4>
                <div class="hline"></div>
                <p><a href="{{ page.website}}" target="_blank">Check out the {{ page.title }} tutorial</a></p>
                <p><i>Setup and installation takes about 15-45 minutes</i></p>
                {% endif %}

                <div class="spacing"></div>

                <h4>Integrations</h4>
                <div class="hline"></div>
                <ul class="popular-posts">
                    {% for integration in site.integrations %}
                        {% if integration.title != "Documentation" %}
                            <p><a href="{{ integration.url | prepend: site.baseurl }}">{{ integration.title }}</a></p>
                        {% endif %}
                    {% endfor %}
                </ul>

                <div class="spacing"></div>

        </div>



    </div><! --/row -->
</div><! --/container -->


<div class="container mtb">
        <div class="row centered">
            <div class="col-md-4">
            </div>

            <div class="col-md-4">
                <h3 style="color:#f67031;">Want to know how much faster your website can get?</h3>
                <h4><br/><a href="mailto:henrik.frienholt@shimmercat.com?Subject=Meeting%20ShimmerCat%20Accelerator" target="_top" class="btn btn-theme">Book a meeting</a></h4>
            </div>

            <div class="col-md-4">
            </div>

    </div><! --/row -->
</div><! --/container -->