---
layout: default
---
<style>
.topbar-header {
    background: #31bef6;
    background: linear-gradient(to right,#31bef6 50%, #49c5f6, #9adbf5);
    color: white;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 25px;
    padding-bottom: 5px;
}


.linkcolors {
    color: {{site.colors.secondary}};
    text-decoration: underline;
    }

a.linkcolors:hover {
            color: #31bef6;
        }


.button-buy {
  color: white;
  background-color: #31bef6;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 5px;
  border-color: {{site.colors.secondary}};
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

a.button-buy:hover {
            color: white;
            font-weight: bold;
        }

</style>


<div class="topbar-header">
    <div class="container mtb" >
        <div class="row">        
        <h1 color: "white">{{page.title}}</h1>
        <h1><i class="fa fa-globe fa-2x" aria-hidden="true"></i><h1>
        <div class="spacing"></div>
        <h3><i>For the e-commerce targeting a global market</i></h3>
        </div>
    </div><! --/container -->
</div><!-- /blue -->


<div class="container mtb">
    <div class="row">
        <div class="col-sm-8">
          
            <h3>What you get with the {{page.title}}</h3>
            <div class="spacing"></div>


            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-2">
                        <h4><i class="fa fa-globe fa-2x" aria-hidden="true"></i></h4>
                    </div>
                    <div class="col-sm-10">
                        <h4>Global Edge Server Network</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-2">
                    <p>Custom-built global edge server network to keep content "hot" at all times for for high availability e-commerces</p>
                    </div>    
                </div>
            </div>


            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-2">
                        <h4><i class="fa fa-bolt fa-2x" aria-hidden="true"></i></h4>
                    </div>
                    <div class="col-sm-10">
                        <h4>ShimmerCat Accelerator</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-2">
                    <p>HTTP/2 prioritization with automated ahead-of-time asset delivery, thanks to statistical inference and other machine learning methods</p>
                    </div>    
                </div>
            </div>


            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-2">
                        <h4><i class="far fa-window-restore fa-2x" aria-hidden="true"></i></h4>
                    </div>
                    <div class="col-sm-10">
                        <h4>Up to 15 domains</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-2">
                    <p>Cover domains on a global scale to create a better and faster user expereince for all your visitors</p>
                    </div>    
                </div>
            </div>


            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-2">
                        <h4><i class="fa fa-search fa-2x" aria-hidden="true"></i></h4>
                    </div>
                    <div class="col-sm-10">
                        <h4>Detailed Live Monitoring</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-2">
                    <p>Cover domains on a global scale to create a better and faster user expereince for all your visitors</p>
                    </div>    
                </div>
            </div>

            <div class="col-sm-12">
            <div class="spacing"></div>
            <h3>More about the {{page.title}}</h3>            
              
            {{ content }}
            </div>

        </div><! --/col-lg-8 -->


    <div class="col-sm-4">

        <div class="spacing"></div>

        <h3><a href="mailto:henrik.frienholt@shimmercat.com?Subject=Global%20Scale%20Up" target="_top" class="button-buy">Get Now</a></h3>
 
        <div class="spacing"></div>

        <h4>Customer Case</h4>
        <div class="hline"></div>
            <ul class="popular-posts">
            {% for case in site.customercases %}
                <p><a class="linkcolors" href="{{ case.url | prepend: site.baseurl }}">{{ case.title }}</a></p>
            {% endfor %}
            </ul>

        <div class="spacing"></div>

        <h4>Included Features</h4>
        <div class="hline"></div>
        <ul class="popular-posts">
            {% for cat in site.category-list %}
                {% if cat == "global" %}
                    {% for page in site.features %}
                        {% if page.resource == true %}
                          {% for pc in page.categories %}
                            {% if pc == cat %}
                              <p><a class="linkcolors" href="{{ page.url  | prepend: site.baseurl }}">{{ page.title }}</a></p>
                            {% endif %}   <!-- cat-match-p -->
                          {% endfor %}  <!-- page-category -->
                        {% endif %}   <!-- resource-p -->
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>
        
        <div class="spacing"></div>

        <h4>Add-Ons</h4>
        <div class="hline"></div>
        <ul class="popular-posts">
            {% for cat in site.category-list %}
                {% if cat == "add-on" %}
                    {% for page in site.features %}
                        {% if page.resource == true %}
                          {% for pc in page.categories %}
                            {% if pc == cat %}
                              <p><a class="linkcolors" href="{{ page.url  | prepend: site.baseurl }}">{{ page.title }}</a></p>
                            {% endif %}   <!-- cat-match-p -->
                          {% endfor %}  <!-- page-category -->
                        {% endif %}   <!-- resource-p -->
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>

        <div class="spacing"></div>

        <h4>More Info</h4>
        <div class="hline"></div>
        <p>If you want more info don't hesitate to contact us!</p>
        <p><a href="mailto:henrik.frienholt@shimmercat.com?Subject=Global%20Scale%20Up" target="_top" class="btn btn-theme">Book a meeting</a></p>

    </div>


    </div><! --/row -->
</div><! --/container -->



<div class="container mtb">
        <div class="row centered">
            <div class="col-sm-4">
            </div>

            <div class="col-sm-4">
                <h3>Use {{page.title}} to grow your business:</h3>
                <div class="spacing"></div>
                <h4><a href="mailto:henrik.frienholt@shimmercat.com?Subject=Global%20Scale%20Up" target="_top" class="button-buy">Get Now</a></h4>
            </div>

            <div class="col-sm-4">
            </div>



    </div><! --/row -->
</div><! --/container -->