---
layout: default
---
<style>
.topbar-header {
    background: {{site.colors.primary}};
    background: linear-gradient(to top right,#f67031 50%, #f57d44, #f69465);
    color: white;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 25px;
    padding-bottom: 5px;
}


.linkcolors {
    color: {{site.colors.secondary}};
    text-decoration: underline;
    }

a.linkcolors:hover {
            color: {{site.colors.primary}};
        }

.button-buy {
  color: white;
  background-color: {{site.colors.primary}};
  border-style: solid;
  border-width: 0.5px;
  border-radius: 5px;
  border-color: {{site.colors.secondary}};
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  hover-color: red;
}

a.button-buy:hover {
            color: white;
            font-weight: bold;
        }

</style>




<div class="topbar-header">
    <div class="container mtb" >
        <div class="row">        
        <h1 color: "white"> {{page.title}}</h1>
        <h1><i class="fa fa-bolt fa-2x" aria-hidden="true"></i><h1>
        <div class="spacing"></div>
        <h3><i>Create a fully customized solution for your e-commerce</i></h3>
        </div>
    </div><! --/container -->
</div><!-- /blue -->


<div class="container mtb">
    <div class="row">
        <div class="col-sm-8">

            <h3>What you get with {{page.title}}</h3>
            <div class="spacing"></div>


            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-2">
                        <h4><i class="fas fa-robot fa-2x" aria-hidden="true"></i></h4>
                    </div>
                    <div class="col-sm-10">
                        <h4>AI and Automation</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-2">
                    <p>Data about website visitor behavior is collected and analyzed in the AI engine to optimise for performance - automatically</p>
                    </div>    
                </div>
            </div>
             
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-2">
                        <h4><i class="fas fa-bolt fa-2x" aria-hidden="true"></i></h4>
                    </div>
                    <div class="col-sm-10">
                        <h4>HTTP/2 Push</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-2">
                    <p>Optimize the delivery of web resources to browsers by automatically leveraging machine learning and HTTP/2 Push</p>
                    </div>    
                </div>
            </div>

      
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-2">
                        <h4><i class="far fa-check-circle fa-2x" aria-hidden="true"></i></h4>
                    </div>
                    <div class="col-sm-10">
                        <h4>Bot Blocking</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-2">
                    <p>Increase security and allocate more computing resources to human visitors with automatic bot detection and blocking</p>
                    </div>    
                </div>
            </div>


            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-2">
                        <h4><i class="fas fa-search fa-2x" aria-hidden="true"></i></h4>
                    </div>
                    <div class="col-sm-10">
                        <h4>Built-in Monitoring</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-2">
                    <p>To support high availability, measure performance and provide clear indicators about how to improve and grow the bsiness.</p>
                    </div>    
                </div>
            </div>


            <div class="col-sm-12">
            <div class="spacing"></div>
            <h3>More about the {{page.title}}</h3>            
              
            {{ content }}
            </div>

        </div><! --/col-lg-8 -->


    <div class="col-sm-4">

        <div class="spacing"></div>

        <h3><a href="mailto:henrik.frienholt@shimmercat.com?Subject=Accelerator%20Subscription" target="_top" class="button-buy">Get Now</a></h3>
 
        <div class="spacing"></div>

        <h4>Customer Case</h4>
        <div class="hline"></div>
            <ul class="popular-posts">
                <p><a class="linkcolors" href="{{ "/customercases/twistshake" | prepend: site.baseurl }}">Twistshake.com used ShimmerCat Acceleration Network to reach the world with their products</a></p>
            </ul>

        <div class="spacing"></div>

        <h4>Included Features</h4>
        <div class="hline"></div>
        <ul class="popular-posts">
            {% for cat in site.category-list %}
                {% if cat == "accelerator" %}
                    {% for page in site.features %}
                        {% if page.resource == true %}
                          {% for pc in page.categories %}
                            {% if pc == cat %}
                              <p><a class="linkcolors" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></p>
                            {% endif %}   <!-- cat-match-p -->
                          {% endfor %}  <!-- page-category -->
                        {% endif %}   <!-- resource-p -->
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>

        <div class="spacing"></div>

        <h4>More Info</h4>
        <div class="hline"></div>
        <p>If you want more info don't hesitate to contact us!</p>
        <p><a href="mailto:henrik.frienholt@shimmercat.com?Subject=Accelerator%20Subscription" target="_top" class="btn btn-theme">Book a meeting</a></p>

    </div>


    </div><! --/row -->
</div><! --/container -->



<div class="container mtb">
        <div class="row centered">
            <div class="col-sm-4">
            </div>

            <div class="col-sm-4">
                <h3>Use {{page.title}} to grow your business:</h3>
                <div class="spacing"></div>
                <h4><a href="mailto:henrik.frienholt@shimmercat.com?Subject=Accelerator%20Subscription" target="_top" class="button-buy">Get Now</a></h4>
            </div>

            <div class="col-sm-4">
            </div>



        </div><! --/row -->
</div><! --/container -->