---
layout: default
---
<style>
.topbar-header {
    background: #f6d231;
    background: linear-gradient(to right,#f6d231 50%, #f5d546, #f8f0cc);
    color: white;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 25px;
    padding-bottom: 5px;
}


.linkcolors {
    color: {{site.colors.secondary}};
    text-decoration: underline;
    }

a.linkcolors:hover {
            color: #f6d231;
        }

.button-buy {
  color: white;
  background-color: #f6d231;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 5px;
  border-color: {{site.colors.secondary}};
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  hover-color: red;
}

a.button-buy:hover {
            color: white;
            font-weight: bold;
        }

</style>




<div class="topbar-header">
    <div class="container mtb" >
        <div class="row">        
        <h1 color: "white"> {{page.title}}</h1>
        <h1><i class="fa fa-check-circle fa-2x" aria-hidden="true"></i><h1>
        <div class="spacing"></div>
        <h3><i>For the company that needs the best solution on the market</i></h3>
        </div>
    </div><! --/container -->
</div><!-- /blue -->


<div class="container mtb">
    <div class="row">
        <div class="col-lg-8">    

            <h3>What you get with {{page.title}}</h3>
              
            {{ content }}

        </div><! --/col-lg-8 -->


    <div class="col-lg-4">

        <div class="spacing"></div>

        <h3><a href="mailto:henrik.frienholt@shimmercat.com?Subject=Global%20Scale%20Up" target="_top" class="button-buy">Get Now</a></h3>
 
        <div class="spacing"></div>

        <h4>Customer Case</h4>
        <div class="hline"></div>
            <ul class="popular-posts">
                <p><a class="linkcolors" href="{{ "/customercases/twistshake" | prepend: site.baseurl }}">Twistshake.com used ShimmerCat Acceleration Network to reach the world with their products</a></p>
            </ul>

        <div class="spacing"></div>

        <h4>Included Features</h4>
        <div class="hline"></div>
        <ul class="popular-posts">
            {% for feature in site.features %}
                <p><a class="linkcolors" href="{{ feature.url | prepend: site.baseurl }}">{{ feature.title }}</a></p>
            {% endfor %}
        </ul>

        <div class="spacing"></div>

        <h4>More Info</h4>
        <div class="hline"></div>
        <p>If you want more info don't hesitate to contact us!</p>
        <p><a href="mailto:henrik.frienholt@shimmercat.com?Subject=ShimmerCat%20Accelerator" target="_top" class="btn btn-theme">Book a meeting</a></p>

    </div>


    </div><! --/row -->
</div><! --/container -->



<div class="container mtb">
        <div class="row centered">
            <div class="col-md-4">
            </div>

            <div class="col-md-4">
                <h3>Use {{page.title}} to grow your business:</h3>
                <div class="spacing"></div>
                <h4><a href="mailto:henrik.frienholt@shimmercat.com?Subject=Global%20Scale%20Up" target="_top" class="button-buy">Get Now</a></h4>
            </div>

            <div class="col-md-4">
            </div>



    </div><! --/row -->
</div><! --/container -->