---
layout: default
wrap_title: 'Solution'
---

{% include wrap.html %}

<div class="container mtb">
    <div class="row">

        <div class="col-sm-8">

          <a href="{{ page.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ page.title }}</h3></a>

            {{ content }}

        </div><! --/col-lg-8 -->

        <div class="col-sm-4">

                <div class="spacing"></div>

                <p><a href="mailto:henrik.frienholt@shimmercat.com?Subject=ShimmerCat Demo" target="_top" class="btn btn-theme">Book a demo</a></p>

                <div class="spacing"></div>
                
                <h4>Learn More</h4>
                <div class="hline"></div>
                <p><a href="{{ page.website}}" target="_blank">{{page.description}}</a></p>

                <div class="spacing"></div>

                <h4>Features</h4>
                    <div class="hline"></div>
                        <ul class="popular-posts">
                                {% for cat in site.category-list %}
                                        {% if cat == "display" %}
                                            {% for page in site.features %}
                                                {% if page.resource == true %}
                                                  {% for pc in page.categories %}
                                                    {% if pc == cat %}
                                                      <p><a class="linkcolors" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></p>
                                                    {% endif %}   <!-- cat-match-p -->
                                                  {% endfor %}  <!-- page-category -->
                                                {% endif %}   <!-- resource-p -->
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                        </ul>

                <div class="spacing"></div>

        </div>



    </div><! --/row -->
</div><! --/container -->


<div class="container mtb">
        <div class="row centered">
            <div class="col-md-4">
            </div>

            <div class="col-md-4">
                <h3 style="color:#f67031;">Want to know how much faster your website can get?</h3>
                <h4><br/><a href="mailto:henrik.frienholt@shimmercat.com?Subject=Meeting%20ShimmerCat%20Accelerator" target="_top" class="btn btn-theme">Book a meeting</a></h4>
            </div>

            <div class="col-md-4">
            </div>

    </div><! --/row -->
</div><! --/container -->